<!-- <h1>LOGIN</h1>

<%= form_for :login do |f| %>

<%= f.text_field :email, placeholder: 'Email' %><br>
<%= f.password_field :password, placeholder: 'Password' %>
<%= f.submit 'Log In'%>

<% end %> -->
<h1>Log In</h1>
<%= render 'login' %>
